<mat-dialog-content class="mat-typography cw-no-padding-modal pr-24px">
  <div class="modal-header cw-modal-estadoregistro-header">
    <span class="ml-2 cw-primary-blue cw-text-size-20  cw-center-all cw-font-bold">{{'TITULOS.CAMBIAR_CONTRASENA' |
      translate}}</span>
    <div class="row d-flex flex-row-reverse pr-3">
      <mat-icon mat-dialog-close svgIcon="148" class="cw-size-xs-6"></mat-icon>
    </div>
  </div>
  <div class=" p-4">
    <form [formGroup]="formGroupCambioPass" autocomplete="off" class="cw-forms">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="esMisDatos === true">
              <mat-form-field class="cw-mat-full-with">
                <input matInput placeholder="Contraseña actual" maxlength="15" formControlName="passwordActual"
                  [type]="hideActual ? 'password' : 'text'" autocomplete="off">
                <mat-icon *ngIf="formGroupCambioPass.get('passwordActual').value.length !== 0" matSuffix
                  (click)="hideActual = !hideActual" class="cursor-pointer cw-secundary-gray">{{hideActual ?
                  'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="formGroupCambioPass.get('passwordActual').hasError('required')">
                  {{ 'TITULOS.CAMPO_REQUERIDO' | translate}}</mat-error>
              </mat-form-field>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <mat-form-field class="cw-mat-full-with">
                <input matInput placeholder="Nueva contraseña" maxlength="15" formControlName="passwordNew"
                  [type]="hide ? 'password' : 'text'" autocomplete="off" (keyup)="validarContrasena()">
                <mat-icon *ngIf="formGroupCambioPass.get('passwordNew').value.length !== 0" matSuffix
                  (click)="hide = !hide" class="cursor-pointer cw-secundary-gray">{{hide ? 'visibility_off' :
                  'visibility'}}</mat-icon>
                <mat-error *ngIf="formGroupCambioPass.get('passwordNew').hasError('required')">
                  {{ 'TITULOS.CAMPO_REQUERIDO' | translate}}</mat-error>
                <mat-error *ngIf="formGroupCambioPass.get('passwordNew').touched &&
                          formGroupCambioPass.get('passwordNew').invalid &&
                          formGroupCambioPass.get('passwordNew').value !== ''">
                  <span *ngIf="objValidaPass.mayuscula === false">
                    Minimo una mayuscula
                    <br>
                  </span>
                  <span *ngIf="objValidaPass.minuscula === false">
                    Minimo una minuscula
                    <br>
                  </span>
                  <span *ngIf="objValidaPass.numero === false">
                    Minimo un número
                    <br>
                  </span>
                  <span *ngIf="objValidaPass.caracter === false">
                    Minimo un caracter especial
                    <br>
                  </span>
                  <span *ngIf="objValidaPass.longitud === false">
                    Minimo 6 carcateres
                    <br>
                  </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pt-4">
              <mat-form-field class="cw-mat-full-with">
                <input matInput placeholder="Confirmar nueva contraseña" maxlength="15"
                  formControlName="passwordNewConfirm" [type]="hideConfirm ? 'password' : 'text'" autocomplete="off"
                  (keyup)="validarConfirmContrasena()">
                <mat-icon *ngIf="formGroupCambioPass.get('passwordNewConfirm').value.length !== 0" matSuffix
                  (click)="hideConfirm = !hideConfirm" class="cursor-pointer cw-secundary-gray">{{hideConfirm ?
                  'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="formGroupCambioPass.get('passwordNewConfirm').hasError('required')">
                  {{ 'TITULOS.CAMPO_REQUERIDO' | translate}}</mat-error>
                <mat-error *ngIf="formGroupCambioPass.get('passwordNewConfirm').hasError('invalidPass')">
                  {{ 'Contraseña no coinciden' | translate}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12 ">
          <div class="float-right">
            <button class="btn btn-primary mr-3" (click)="guardar()">Guardar</button>
            <button type="button" class="btn btn-outline-primary" mat-dialog-close>Cancelar</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</mat-dialog-content>

<ng-template #HtmlContent>
  <table>
    <tbody>
      <tr>
        <td>Minimo una mayuscula</td>
        <td style="text-align: end;">
          <mat-icon matPrefix svgIcon="{{ objValidaPass.mayuscula === true ? '131' : '125' }}"
            class="cw-size-sm mr-15px"></mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>